main {
  min-height: 85vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 2rem;
  padding: 1rem 0;
}

h2 {
  font-size: 2rem;
  padding: 0.5rem 0;
}

th,
td {
  text-align: center;
  vertical-align: middle;
}

.rating span {
  margin: 0.1vh;
}

.active-link {
  list-style-type: none;
  color: lavender;
  margin: 1;
  padding: 1;
  overflow: hidden;
  background-color: #333;
  border-left: 2px solid yellow;
}

.active-link:hover {
  color: lavender;
  background-color: black;
}

.disabled-link {
  list-style-type: none;
  pointer-events: none;
  margin: 1;
  padding: 1;
  overflow: hidden;
  background-color: #333;
  border-left: 2px solid lightgray;
}

/* pagination */
.pagination a.active {
  background-color: #2f2f2f;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #008080;
}

.pagination a {
  transition: background-color 0.5s;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}
.carousel-caption h2 {
  color: #ddd;
}

.carousel img {
  height: 250px;
  padding: 30px;
  margin: 40px;
  border-radius: 30%;
}
.carousel a {
  margin: 0 auto;
}
